<% if can? :edit, Event %>
  <%=link_to 'Edit', edit_event_path(@event) %> |
<% end %>

<h2><%=@event.name%></h2>
<p><%=@event.description%></p>
<p><%=@event.start_date%></p>

<h3>About the event evenue</h3>

<% if can? :create, Order %>
<h3>Buy a ticket!</h3>

<%=form_with(url:'/shopping_cart/add', local: true) do |form| %>
    <%=form.select(:ticket_type_id,
                 options_from_collection_for_select(
                     TicketType.where(event_id: @event.id).map { |ttype|
                        zone = ttype.ticket_zone
                        class << ttype
                          attr_accessor :zone_details
                        end
                        ttype.zone_details = "#{zone.zone} - #{ttype.price}"
                        ttype
                     }, :id, :zone_details)
     ) %>
    <%=form.select(:amount, options_for_select((1..10).map { |val| [val, val]} )) %>
  <div class="actions">
    <%= form.submit 'Add to cart' %>
  </div>
<%end # form%>
<%end # can%>
<ul>
  <li>Venue: <%=@event.event_venue.name%></li>
  <li>Capacity: <%=@event.event_venue.capacity%></li>
</ul>


<%= link_to 'Back', :back %>
